$primary ?= #ff8a00
$secondary ?= #fffae6
$success ?= #1bd97b
$white ?= #fff
$black ?= #000
$light ?= #f8f9fa
$dark ?= #343a40
$gray ?= #4a5568
$transparent ?= transparent

theme-colors = {
  primary: $primary
  secondary: $secondary
  success: $success
  white: $white
  black: $black
  light: $light
  dark: $dark
  gray: $gray
  transparent: $transparent
}

// Grid variables
$grid-columns = 12
$grid-gutter-width = 30

$grid-breakpoints = {
  xs: 0
  sm: 576px
  md: 768px
  lg: 992px
  xl: 1200px
}

$container-max-widths = {
  sm: 540px
  md: 720px
  lg: 960px
  xl: 1140px
}

$font-size-base =                      1rem
$font-size-lg =                        $font-size-base * 1.1
$font-size-sm =                        $font-size-base * .875

//BUTTON
$btn-disabled-opacity =    .65
$btn-font-family =         'Roboto', 'Montserrat', 'Avenir', Helvetica, Arial, sans-serif
$btn-font-weight =         400
$btn-color =               #fff
$btn-border-width =        1px
$btn-padding-y =           .375rem
$btn-padding-x =           1rem
$btn-padding-y-sm =        .25rem
$btn-padding-x-sm =        .5rem
$btn-padding-y-lg =        1rem
$btn-padding-x-lg =        1.7rem
$btn-font-size =           $font-size-base
$btn-font-size-sm =        $font-size-sm
$btn-font-size-lg =        $font-size-lg
$btn-line-height =         1.5
$btn-line-height-sm =      1.5
$btn-line-height-lg =      1.5
