@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import 'core/core.styl';
@import 'components/components.styl';
@import '_custom.styl';
*
  margin 0
  padding 0
  -webkit-box-sizing border-box
  box-sizing border-box
  outline none
  text-transform none
  text-decoration none

body
  font-family 'Roboto', 'Montserrat','Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
  padding 0
  margin 0
  background-color #FFFAE6
  height 100vh


